body.dark{
    section[data-slide] > header, .mini-menu{
        filter: brightness(0) contrast(1) invert(1)
    }
    .clase {
        color: white;
        span{
        color: black;
        background-color: white;
    }}
}