.reveal {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    ul:not(.list),
    ol:not(.list) {
        list-style: none;
        margin: 0;

        li {
            padding: 0;
            margin-bottom: 0.5rem;
        }
    }

    img {
        margin: 0 auto;
        object-fit: contain;
    }

    a:not(.imgLink) {
        color: inherit;
        border-bottom: 1px solid #42affa;
    }

    a.imgLink:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.5s;
    }

    .vision-global,
    [data-go-slide]:not(a) {
        cursor: pointer;
        transition: filter 0.5s;

        &:hover {
            filter: saturate(0);
        }
    }

    @for $i from 0 through 5 {
        h#{$i} small {
            vertical-align: baseline;
            font-size: 0.5em;
            margin-left: 0.5rem;
        }
    }

    p:first-child {
        margin-top: 0;
    }
}

@media screen and (min-width: 1366px) {

    html {
        font-size: 14px;
    }

}

@media screen and (min-width: 1440px) {

    html {
        font-size: 16px;
    }

}