
.reveal section {

    // icons
    [class*="icon-"] {
        font-size: 1.2rem;
        position: relative;
        margin-left: 2rem;

        &::before {
            content: '';
            background-repeat: no-repeat;
            background-size: 1.8rem 1.2rem;
            height: 100%;
            width: 1.8rem;
            background-position-y: center;
            position: absolute;
            left: -2rem;
            top: 0.15rem;
        }
    }


    .icon-youtube::before {
        background-image: url("../assets/icons/youtube.svg");
    }

    .icon-curso::before {
        background-image: url("../assets/icons/uni.svg");
    }

    .icon-documentacion::before {
        background-image: url("../assets/icons/uni.svg");
    }

    .icon-lectura::before {
        background-image: url("../assets/icons/uni.svg");
    }

    .icon-app::before {
        background-image: url("../assets/icons/sololearn.svg");
    }

    .icon-link::before {
        background-image: url("../assets/icons/link.svg");
    }


}