.reveal section {

    .cols {
        display: flex;
        flex: 1;
    }

    [class*="col-"] {
        padding: 2rem;
        background-color: $backgroundColor;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    [class*="col-"][class*="-top"]  {
        justify-content: start;
        display: flex;
    }

    .col-20 {
        flex-shrink: 0;
        width: 20%;
    }

    .col-40 {
        width: 40%;
        flex-shrink: 0;
    }

    .col-50{
        width: 50%;
        flex-shrink: 0;
    }

}